[flake8]
ignore = E203,W503,E704
exclude =
    .git,
    .pytest_cache,
    venv,
    __pycache__,
    build,
    dist,
    docs,
    {{cookiecutter.project_name}}.egg-info,
    apps/core/models/__init__.py,
    apps/core/migrations,
    {{cookiecutter.project_name}}/settings

per-file-ignores =
    apps/core/checkers/__init__.py:F401

max-line-length = 119
